@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-1" >!! BIENVENIDO !! <br />Asociación de Buses <br />"El Carbonero"</h1>
    <br /> <br />
    <h1>Viaja con comodidad y seguro en <br /> <br /> unidades de primera clases</h1>
    <img src="~/lib/img/bus.png" alt="" />
</div>
